* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font: 500 16px 'Inter'sans-serif;
}

input {
    width: 307px;
    height: 37.5px;
    background-color: #F6F6F6;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    margin: 21.4px 26px 0px;
    padding-left: 16px;
    outline: none;
}

.block {
    width: 360px;
    height: 529px;
    background-color: rgba(101, 107, 241, 0.22);
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.22);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.hschool {
    margin: 45px 118px 0px 118px;
    width: 124px;
    height: 38px;
    font: 900 30px 'Mulish';
    color: #001A49;
}

.input_name {
    margin: 44px 26px 0;
}

.btn {
    margin: 21.4px 26px 0px;
    height: 37.580px;
    width: 323px;
    border-radius: 8px;
    background-color: #8589E4;
    border: 1px solid #4945F9;
    color: #FFFFFF;
}

.private_policy {
    margin: 10px 41px auto 41px;
    justify-content: left;
    width: 278px;
    height: 30px;
    font: 500 12px 'Montserrat';
    color: #000000;
}

.private_policy b {
    font: 800 12px 'Montserrat';
}